
$rosa-paleta: #EC225E;
$azul-claro-paleta: #58AFB8;
$azul-medio-paleta: #269199;
$cinza-paleta: #D2D2D2;
$preto-paleta: #020305;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-league-spartan {
    font-family: "League Spartan", sans-serif;
}

body {
    @include font-league-spartan;
    color: #ffffff;
    background-color: $preto-paleta;
    margin: 0;
    padding: 0;
}



/*Estilos section apresentação (apresentacao_section)*/
.apresentacao_section {

    h1,
    h2 {
        @include font-league-spartan;
        margin-top: 5%;
        margin-bottom: 0;
        padding: 0;
        text-align: center;
    }

    h1 {
        font-size: xx-large;
    }
}

.container_features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 2rem;
    padding-top: 0;

    .feature {
        text-align: center;
        padding: 2rem;
        border-radius: 10px;

        i {
            font-size: 3rem;
            margin-bottom: 1rem;
            color: $azul-medio-paleta
        }

        h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
            color: $azul-claro-paleta;

        }

        p {
            font-weight: 200;
            @include font-league-spartan;

        }
    }

}







/*Estilos section funcionalidades (funcionalidades_section)*/

.albuns_article {
    display: flex;
    max-width: 80%;
    /**mobile: 100%*/
    margin: 5% auto;

    .albuns_text {
        height: 100vh;
        /**mobile: auto*/
        width: 80%;
        background-color: #58AFB8;
        padding: 5%;
        margin-left: -250px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1.5em;
        font-size: 45px;
        /*+1200: 55px, mobile: medium*/
        color: $preto-paleta;
        font-weight: 900;

    }
}

.circle-image {
    width: 50%;
    $largura-img: 20vw;
    $margin-negativa: -10px;
    $margin-positiva: 100px;

    img {
        width: $largura-img;
        border-radius: 9999px;
        object-fit: cover;
        position: absolute;

        // Estilo para a primeira imagem
        &:nth-child(1) {
            margin-top: -5vw;
            z-index: 1;
            border: 5px solid $azul-claro-paleta;
        }

        // Estilo para a segunda imagem
        &:nth-child(2) {
            z-index: 2;
            margin-top: $largura-img - 10;
            margin-left: $margin-positiva;
            border: 5px solid $rosa-paleta;
        }

        // Estilo para a terceira imagem
        &:nth-child(3) {
            z-index: 3;
            margin-top: $largura-img;
            margin-left: $margin-negativa;
            border: 5px solid $azul-medio-paleta;
        }

        // Estilo para a quarta imagem
        &:nth-child(4) {
            margin-top: $largura-img + 10;
            margin-left: $margin-positiva;
            z-index: 4;
            border: 5px solid $cinza-paleta;
        }

        // Estilo para a quinta imagem
        &:nth-child(5) {
            margin-top: $largura-img +20;
            margin-left: $margin-negativa;
            border: 5px solid $azul-claro-paleta;
            z-index: 5;
        }

        // Estilo para a sexta imagem
        &:nth-child(6) {
            margin-top: $largura-img + 30;
            margin-left: $margin-positiva;
            z-index: 4;
            border: 5px solid $rosa-paleta;
        }
    }

}


.funcionalidades_article {
    margin: 20% 0;
    width: 90%;
    display: flex;
    align-items: center;

    div {
        width: 60%;

        li {
            
            font-size: xx-large;
            list-style-type: none;
            padding: 4%;
            background-color: $rosa-paleta;
            margin: 5% 0;
            box-shadow: 0px 10px 0px 5px $azul-medio-paleta;
            border-start-end-radius: 50px;
            border-end-end-radius: 50px;

            &:nth-child(1) {
                width: 60%;
            }

            &:nth-child(2) {
                width: 80%;
            }
        }

    }

    figure {
        width: 40%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }
}

@media (max-width: 768px) {
    .apresentacao_section h1 {
        font-size: medium;
    }

    .container_features {
        grid-template-columns: 1fr;

        .feature h2 {
            font-size: medium;
        }
    }

    .albuns_article {
        max-width: 100%;

        .albuns_text {
            margin-top: 10vw;
            width: 60%;
            height: auto;
            /**mobile: auto*/
            font-size: medium;
            /*+1200: 55px, mobile: medium*/
            margin-left: -100px;
            padding-left: 0;
        }
    }

    .circle-image {
        margin-left: -10px;
    }

    .funcionalidades_article div li {
        font-size: small;
    }
}


/* estilos para o form */
.form {
    @include flex-center;
    flex-direction: column;
    height: 100vh;
    background-color: $rosa-paleta;

    .textform {
        color: white;
        font-size: 5rem;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        align-items: center;
        flex-direction: column; 
        width: 100%; 

        .divemail {
            margin-bottom: 20px;
            width: 80%; 

            input {
                padding: 10px;
                border: none;
                border-radius: 5px;
                font-size: 1.5rem; 
                width: 100%; 
            }
        }

        .enviar {
            padding: 10px 20px;
            background-color: white;
            color: $rosa-paleta;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;

            &:hover {
                background-color: $azul-claro-paleta;
            }
        }
    }
}

/*estilos para o rodape*/
footer {
    background-color: $cinza-paleta;
    padding: 20px 0;
    text-align: center;

    .rodape {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;

        .col-rodape {
            h4 {
                font-size: 1.5rem;
                color: $preto-paleta;
            }

            p, ul {
                font-size: 1rem;
                color: $preto-paleta;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin: 10px 0;
            }

            a {
                color: $preto-paleta;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .social-icons {
        margin: 20px 0;

        a {
            margin: 0 10px;
            font-size: 1.5rem;
            color: $preto-paleta;
        }
    }

    .copyright {
        margin-top: 20px;
        font-size: 0.9rem;
        color: $preto-paleta;
    }
}

@media (max-width: 1198px) {
    .albuns_article .albuns_text {
      height: auto;
    }
  }
  
  @media (min-width: 1400px) {
    .albuns_article .albuns_text {
      font-size: 60px;
      /*+1200: 55px, mobile: medium*/
    }
  }
  
  
  .depoimentos {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  
  .slide-content {
    margin: 0 40px;
  }
  
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  
  .image-content,
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  
  .image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  
  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #269199;
    border-radius: 25px 25px 0 25px;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -40px;
      height: 40px;
      width: 40px;
      background-color: #269199;
    }
  
    &::after {
      border-radius: 0 25px 0 0;
      background-color: #efefee;
    }
  }
  
  .card {
    width: 320px;
    border-radius: 25px;
    background-color: #efefee;
  
    .card-image {
      position: relative;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      padding: 3px;
  
      .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid none;
      }
    }
  
    .user {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 5px;
      color: #333;
    }
  
    .subtitulo {
      color: #333;
      font-weight: 900;
      margin-bottom: 10px;
    }
  
    .descricao {
      font-size: 14px;
      text-align: center;
      color: #333;
    }
  
    .btn-perfil {
      border: none;
      font-size: 16px;
      color: #fff;
      padding: 8px 16px;
      background-color: #EC225E;
      border-radius: 6px;
      margin: 14px;
      cursor: pointer;
      transition: all 0.3s ease-out;
  
      &:hover {
        background-color: #87082e;
      }
    }
  }
@media (max-width: 1198px) {
    .albuns_article .albuns_text {

        height: auto;
    }
}

@media (min-width: 1400px) {
    .albuns_article .albuns_text {
        font-size: 60px;
        /*+1200: 55px, mobile: medium*/
    }
}
// header

header {
    background-color: #269199;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: white;

    nav {
        display: flex;
        flex-grow: 1;

        a {
            color: white;
            text-decoration: none;
            margin: 0 10px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// Hero section
.container-hero {
    display: flex;
    background-color: #020305;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.texto-hero {
    background-color: #269199;
    padding: 40px;
    margin: 10px;
    max-width: 600px;
    border-radius: 6px;

    h1 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    p {
        font-size: 16px;
        margin-bottom: 20px;
        color: #D2D2D2;
    }

    button {
        background-color: #EC225E;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 6px;
        cursor: pointer;
    }
}

.imagem-hero {
    position: relative;
    width: 300px;
    border-radius: 10px;
    border: 5px solid #58AFB8;

    img {
        width: 100%;
        height: auto;
    }
}